.container {
  display: grid;
  place-content: center;
}
#spiner {
  width: 300px;
  height: 300px;
  border: 15px solid gainsboro;
  border-top: 15px solid orange;
  border-radius: 50%;
  animation: loader 5s
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    border-top: 15px solid orange;
  }
  10% {
    border-top: 15px solid red;
  }
  20% {
    border-top: 15px solid green;
  }
  40% {
    border-top: 15px solid blue;
  }
  50% {
    border-top: 15px solid burlywood;
  }
  60% {
    border-top: 15px solid purple;
  }
  80% {
    border-top: 15px solid orange;
  }
  100% {
    transform: rotate(360deg);
    border-top: 15px solid blueviolet;
  }
}
